@mixin old-ie {
  @if $old-ie {
    @content;
  }
}
//*********************************************************************************/
@mixin break1 {
  @media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) { @content; }
}
@mixin break2 {
  @media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) { @content; }
}
@mixin break3 {
  @media all and (min-width: 1220px) { @content; }
}
//*********************************************************************************/
@mixin link($normal, $hover){
  color:$normal;
    &:link{color:$normal;};
    &:visited{color:$normal;};
    &:active{color:$normal;};
    &:hover{color:$hover;}; 
}
//*********************************************************************************/
@mixin clearfix{
  &:before,
  &:after{
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after{
    clear: both;
  }
  @include old-ie{
    *zoom: 1;
  }
}
//*********************************************************************************/
@mixin before{
  @include old-ie{
    *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
    );
    .before{
      @content;
    }
  }
}
@mixin after{
  @include old-ie{
    zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="after"
    );
    .after{
      @content;
    }
  }
}
//*********************************************************************************/